<template>
    <div id="PostOperativeTransfer">
        <div class="container-fluid" v-if="resData !== null && resData.REC_TAG === 'Y' && serverError === ''">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`院區: ${resData.HSPAREA}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`病歷號: ${resData.OPCRTNO}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`開刀日期: ${resData.OPCRTNO}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`患者姓名: ${resData.PTNAME}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`年齡: ${resData.PTAGE}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`性別: ${resData.PTSEX}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`科別: ${resData.VSDPT}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`房號: ${resData.ROOMNO}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`執刀醫師: ${resData.OPDR}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`麻醉醫師: ${resData.ANDR}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`通知時間: ${resData.NOT_DATE}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`交班時間: ${resData.SHI_DATE}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <p v-text="`床號: ${resData.BEDNO}`"></p>
                </div>
            </div>            
            
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <!-- 開刀房 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5 class="title">開刀房</h5>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`核對病患資料(手圈): ${resData.CHKPT}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`入 OR 方式: ${resData.INORMD}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`診斷: ${resData.DIAGNOSIS}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`手術方式: ${resData.SPOERMD}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`管路-PIPE_Drain`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`管路-Chest Tube: ${resData.PIPE_ChestTube}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`管路-N-G tube: ${resData.PIPE_NGTube}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`管路-Foley: ${resData.PIPE_Foley}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`管路-其它: ${resData.PIPE_Other}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`傷口情形: ${resData.EXMSMP}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`病理檢體: ${resData.CUTCND}`"></p>
                            </div>
                        </div>
                        <hr>

                        <!-- 麻醉科 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5 class="title">麻醉科</h5>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`ASA Physical Status: ${resData.ASA}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`手術前意識狀態: ${resData.PT_MIND}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`麻醉方式: ${resData.ANESTH}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`送出時 Vital Sign: ${resData.SPO2}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`${resData.HR}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`${resData.BP}`"></p>
                            </div>

                            <div  class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`困難插管: ${resData.DIFF_INTU}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`牙齒狀況: ${resData.TOOTH}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`${resData.PIPE_ETTT}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`IV: ${resData.PIPE_IV}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`A-Line: ${resData.PIPE_ALINE}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`CVP: ${resData.PIPE_CVP}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`SG: ${resData.PIPE_SG}`"></p>
                            </div>
                            
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-ANGIDIL: ${resData.MED_ANGIDIL}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-DOBUTAMINE: ${resData.MED_DOBUTAMINE}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-BOSMIN: ${resData.MED_BOSMIN}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-AMINODARONE: ${resData.MED_AMINODARONE}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-XYLOCAINE: ${resData.MED_XYLOCAINE}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊用藥-SP: ${resData.MED_SP}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`特殊事件交班-麻醉科: ${resData.SP_SHIFT}`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <span>
                                    I/O (blood loss):
                                    <p v-text="`INTAKE: ${resData.INTAKE}`"></p>
                                    <p v-text="`OUTPUT: ${resData.OUTPUT}`"></p>
                                </span>
                            </div>

                            <!-- # -->
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`異常 data 及處置:`"></p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h6>X.缺 V.活動假牙 O.蛀/鬆動 P.固定假牙</h6>
                                <div class="scroll">
                                    <table>
                                        <tr>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU8}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU7}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU6}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU5}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU4}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU3}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU2}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RU1}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU1}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU2}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU3}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU4}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU5}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU6}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU7}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LU8}`"></td>
                                        </tr>
                                        <tr>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD1}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD2}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD3}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD4}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD5}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD6}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD7}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_RD8}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD1}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD2}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD3}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD4}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD5}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD6}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD7}`"></td>
                                            <td v-text="`${resData.TOOTH_LIST.Tooth_LD8}`"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="mt-4 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h6 class="title">異常資料</h6>
                                <div class="scroll">
                                    <table width="100%" border="1px solid #00bfff">
                                        <thead>
                                            <tr>
                                                <td>異常日期</td>
                                                <td>異常時間</td>
                                                <td>異常項目</td>
                                                <td>內容數值</td>
                                                <td>處置</td>
                                            </tr>
                                        </thead>

                                        <tbody v-if="resData.OPR013_DATA_LIST.length > 0">
                                            <tr v-for="(item, index) in resData.OPR013_DATA_LIST" :key="index">
                                                <td v-text="item.SO_DATE"></td>
                                                <td v-text="item.SO_TIME"></td>
                                                <td v-text="item.SO_OP"></td>
                                                <td v-text="item.SO_ITEM"></td>
                                                <td v-text="item.SO_DISPOSAL"></td>
                                            </tr>
                                        </tbody>

                                        <tbody v-else>
                                            <td colspan="6">查無資料</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- 醫囑 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5 class="title">醫囑</h5>
                            </div>
                            
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`術後檢查: ${resData.OP_CHECK}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`特殊事件交班: ${resData.SP_EVENT}`"></p>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <p v-text="`麻醉科醫師建議事項: ${resData.ANDR_NOTE}`"></p>
                            </div>
                        </div>
                        <hr>

                        <!-- 轉加護病房準備用物 -->
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h5 class="title">交班事項</h5>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <p v-text="`轉加護病房準備用物: ${resData.USEMET}`"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->
        <Message v-else-if="resData === null && serverError === ''"></Message>

        <!--  -->
        <ErrorPage v-else></ErrorPage>
    </div>
</template>

<script>
    import { getOpr210Rec } from '@/api/opr';
    import Message from '@/components/Message';     //載入訊息元件
    import ErrorPage from '@/components/ErrorPage'; //載入錯誤元件

    export default {
        name: 'PostOperativeTransfer',
        components: {
            Message,
            ErrorPage
        },
        data() {
            return {
                attrData: {},
                resData: null,
                serverError: ''
            }
        },
        mounted() {
            this.attrData = this.$route.params;

            if (this.attrData.hspnme !== '' && this.attrData.opcrtno !== '' && this.attrData.opdate !== '' && this.attrData.scrno)
            {
                this.getOpr210RecInfo();
            }
        },
        methods: {
            getOpr210RecInfo() {
                const hspnme = this.attrData.hspnme;
                const opcrtno = this.attrData.opcrtno;
                const opdate = this.attrData.opdate;
                const scrno = this.attrData.scrno;
                
                getOpr210Rec(hspnme, opcrtno, opdate, scrno).then((res) => {
                    if (res.status === 200)
                    {
                        this.resData = res.data;
                    }
                    else
                    {
                        this.serverError = res;
                    }
                });
            }
        }
    }
</script>

<style lang="sass">
    @import '@/styles/functions.sass'

    hr
        background-color: $color_gray

    #PostOperativeTransfer
        .container-fluid
            .row:nth-child(1)
                p
                    padding: 5px 0px

            .row:nth-child(2)
                padding: 10px 0px

                .card
                    padding: 10px
                    border: 1px solid darken($color_gray, 25)
                    border-radius: 10px

                    p
                        padding: 10px 0px
                        white-space: pre-line

                    .scroll::-webkit-scrollbar
                        background-color: darken($color_gray, 15)
                        height: 10px

                    .scroll::-webkit-scrollbar-track
                        background-color: darken($color_gray, 15)

                    .scroll::-webkit-scrollbar-thumb
                        background-color: darken($color_gray, 25)

                    .scroll
                        width: 100%
                        border: 1px solid darken($color_gray, 25)
                        overflow-x: auto
                        overflow-y: hidden

                        table
                            width: 100%
                            border: 1px solid $color_black

                            tr
                                th, td
                                    border: 1px solid $color_black
</style>