<template>
    <section class="noteResumeReplyDetail" v-if="resNoteResumeReplyData !== null && serverError === ''">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <h5>回覆內容</h5>
                        <p v-text="resNoteResumeReplyData.ANS_LIST"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Message v-else-if="resNoteResumeReplyData === null && serverError === ''"></Message>
    
    <ErrorPage v-else :msg="serverError"></ErrorPage>
</template>

<script>
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        name: 'NoteResumeReplyDetail',
        components: {
            Message,
            ErrorPage
        },
        props: {
            resNoteResumeReplyData: { //繼承 照會回覆資料
                type: Object,
                default: Object
            },
            serverError: {    //繼承 伺服器錯誤訊息
                type: String,
                default: String
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions.sass'

    p
        white-space: pre-wrap
    
    .noteResumeReplyDetail
        margin-bottom: 20px

        .container-fluid
            padding:
                left: 25px
                right: 25px

            .card
                padding: 10px
                border-radius: 0px
                border: 1px solid darken($color_gray, 15)
</style>