<template>
    <div id="oprTraintCheckContent">
        <div class="oprTraintCheckContentData" v-if="resOprTraintCheckContentData.length === 1 && resOprTraintCheckContentData[0].TOOL !== '' && serverError === ''">
            <section class="oprTraintData">
                <div class="container-fluid">
                    <div class="row">
                        <div class="oprTraintInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resOprTraintCheckContentData" :key="index">
                            <div class="card">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h5>危險因子</h5>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'重新約束狀態: ' + verifyFieldNull(item.RESTART)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束工具: ' + verifyFieldNull(item.TOOL)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'危險因子: ' + verifyFieldNull(item.DANFAC)"></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <h5>護理評估</h5>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'鎮靜劑使用: ' + verifyFieldNull(item.TRQFLG)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束部位: ' + verifyFieldNull(item.POS)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'約束原因: ' + verifyFieldNull(item.REASON)"></p>
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                        <p v-text="'合併症: ' + verifyFieldNull(item.RESCC)"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="oprTraintCheckList" v-if="resOprTraintCheckContentData[0].ERNUR_CHECKINFO !== null">
                <div class="container-fluid">
                    <div class="row">
                        <div class="oprTraintCheckListInfo col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <h5>查核表</h5>
                            <div class="scroll">
                                <table>
                                    <thead class="header">
                                        <tr>
                                            <th>#</th>
                                            <th>病歷號</th>
                                            <th>記錄日期</th>
                                            <th>記錄時間</th>
                                            <th>登錄人員</th>
                                        </tr>
                                    </thead>

                                    <tbody class="content">
                                        <tr class="traintCheckList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getOprTraintCheckInfoData(item.EVLDTE, item.EVLTME, index)">
                                            <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                            <td v-text="item.CRTNO"></td>
                                            <td v-text="formatDate(item.EVLDTE)"></td>
                                            <td v-text="formatTime(item.EVLTME)"></td>
                                            <td v-text="item.UPOP"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :pagerCount="5" :total="resOprTraintCheckContentData[0].ERNUR_CHECKINFO.length"></Pagination>
                        </div>

                        <OprTraintCheckInfo v-if="showTraintCheckDetail === true" :resOprTraintCheckInfoData="resOprTraintCheckInfoData" :serverError="apiOprTraintCheckInfoError"></OprTraintCheckInfo>
                    </div>
                </div>
            </section>
        </div>

        <Message v-else-if="resOprTraintCheckContentData.length === 1 && resOprTraintCheckContentData[0].TOOL === '' && serverError === ''"></Message>

        <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getOprTraintChkInfo } from '@/api/opr.js';
    import OprTraintCheckInfo from './OprTraintCheckInfo';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';
    import Pagination from '@/components/Pagination';

    export default {
        components: {
            OprTraintCheckInfo,
            Message,
            ErrorPage,
            Pagination
        },
        props: {
            resOprTraintCheckContentData: {  //繼承 急診約束內容與查核清單
                type: Array,
                default: new Array
            },
            serverError: { //繼承 急診約束內容與查核清單 api 錯誤訊息
                type: String,
                default: String
            },
            attrData: {
                type: Object,
                default: new Object
            },
            sDate: {
                type: String,
                default: String
            },
            sTime: {
                type: String,
                default: String
            }
        },
        data() {
            return {
                resOprTraintCheckInfoData: [],  //儲存 護理約束查核明細內容
                apiOprTraintCheckInfoError: '', //儲存 護理約束查核明細內容 api 錯誤訊息
                showTraintCheckDetail: false,    //控制 護理約束查核內容是否顯示
                nowPage: 1,  //記錄現在的頁籤
                itemBarMenu: 5,  //儲存一次顯示幾筆資料
                oprTraintCheckListBindStyle: "background-color: #26547C; color: #ffffff", //綁定清單點擊後樣式
                
            }
        },
        methods: {
            getOprTraintCheckInfoData: function(evldte, evltme, index){
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const actno = self.attrData.actno;
                const sdte = self.sDate;
                const stme = self.sTime
                const opid = self.attrData.opid;
                self.resOprTraintCheckInfoData = [],  //儲存 護理約束查核明細內容
                self.apiOprTraintCheckInfoError = '', //儲存 護理約束查核明細內容 api 錯誤訊息
                self.showTraintCheckDetail = false,    //控制 護理約束查核內容是否顯示
                self.reOprTraintListStyle();  //呼叫 reNurTraintListStyle() 方法重整查核表樣式為黑色字，白色背景
                document.querySelectorAll('.traintCheckList').item(index).style = self.oprTraintCheckListBindStyle; //重新指定 table row 樣式，將傳回來的 row index 指定樣式

                getOprTraintChkInfo(hsp, crtno, actno, sdte, stme, evldte, evltme, opid).then((res) => {
                    if (res.status === 200)
                    {
                        self.resOprTraintCheckInfoData.push(res.data);
                        self.showTraintCheckDetail = true;
                    }
                    else
                    {
                        self.apiOprTraintCheckInfoError = res;
                        self.showTraintCheckDetail = true;
                    }
                });
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function(val) {
                this.itemBarMenu = val;
            },
            reOprTraintListStyle: function(){ //重整約束查核表列表樣式
                let patientList = document.getElementsByClassName('traintCheckList'); //抓取所有 .patientList 屬性
                
                for (let i = 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            },
            verifyFieldNull: function(field){ //驗證欄位是否空值，如果空值顯示 N/A
                let result = (field !== null && field !== '')? field: 'N/A';

                return result;
            },
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            }
        },
        computed: {
            showNumberItem: function(){
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                    start 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                    例: 1 * 5 - 5
                */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                    end 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                    例: 1 * 5
                */

                let result = this.resOprTraintCheckContentData[0].ERNUR_CHECKINFO.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    p
        padding: 10px 0px

    #oprTraintCheckContent
        .oprTraintCheckContentData
            .oprTraintData
                background-color: $color_blue

                .container-fluid
                    padding: 25px

                    .row
                        .oprTraintInfo
                            .card
                                padding: 10px
                                border-radius: 10px
                                
            .oprTraintCheckList
                background-color: $color_white

                .container-fluid
                    padding: 25px

                    .row
                        .oprTraintCheckListInfo
                            margin-bottom: 20px

                            h5
                                background-color: $color_gray
                                border:
                                    top: 1px solid darken($color_gray, 25)
                                    left: 1px solid darken($color_gray, 25)
                                    right: 1px solid darken($color_gray, 25)
                                padding: 5px 10px
                                width: 100%
                            
                            .scroll::-webkit-scrollbar
                                background-color: darken($color_gray, 15)
                                height: 10px

                            .scroll::-webkit-scrollbar-track
                                background-color: darken($color_gray, 15)

                            .scroll::-webkit-scrollbar-thumb
                                background-color: darken($color_gray, 25)

                            .scroll
                                width: 100%
                                border: 1px solid darken($color_gray, 25)
                                overflow-x: auto
                                overflow-y: hidden

                                table
                                    width: 100%
                                    background-color: $color_white

                                    tr
                                        color: $color_black
                                        transition: (background-color, color) 0.5s

                                        th, td
                                            white-space: nowrap
                                            text-align: center
                                            vertical-align: middle
                                            padding: 10px

                                    tbody.content
                                        tr
                                            cursor: pointer

                                        tr:nth-child(odd)
                                            background-color: $color_gray

                                        tr.traintCheckList
                                            border-top: 1px solid darken($color_gray, 15)

                                            &:hover
                                                box-shadow: inset 5px 0px $color_blue

    .Pagination
        background-color: $color_gray
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)

    @media screen and ( max-width: 992px )
        #oprTraintCheckContent
            .oprTraintCheckContentData
                .oprTraintCheckList
                    .container
                        .row
                            .oprTraintCheckListInfo
                                .scroll
                                    overflow-x: auto
                                    overflow-y: hidden

</style>