<template>
    <div id="OprTraintList">
        <section class="OprTraintListData" v-if="resOprTraintList.length === 1 && resOprTraintList[0].CRTNO !== '' && apiErrorOprTraintList === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="oprTraintListInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>病歷號</th>
                                        <th>患者姓名</th>
                                        <th>起始日期</th>
                                        <th>起始時間</th>
                                        <th>結束日期</th>
                                        <th>結束時間</th>
                                        <th>登錄人員</th>
                                    </tr>
                                </thead>
                                
                                <tbody class="content">
                                    <tr class="traintList" v-for="(item, index) in resOprTraintList" :key="index" v-on:click="getNurTraintCheckContentData(item.SDTE, item.STME, item.EDTE, item.ETME, index)">
                                        <td v-text="item.CRTNO"></td>
                                        <td v-text="item.PTNAME"></td>
                                        <td v-text="formatDate(item.SDTE)"></td>
                                        <td v-text="formatTime(item.STME)"></td>
                                        <td v-text="formatDate(item.EDTE)"></td>
                                        <td v-text="formatTime(item.ETME)"></td>
                                        <td v-text="item.UPOP"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <Message v-else-if="resOprTraintList.length === 1 && resOprTraintList[0].CRTNO === '' && apiErrorOprTraintList === ''"></Message>
        
        <ErrorPage v-else :msg="apiErrorOprTraintList"></ErrorPage>
        
        <OprTraintCheckContent v-if="showOprTraintCheckContent === true" :attrData="attrData" :sDate="tempSDATE" :sTime="tempSTIME" :resOprTraintCheckContentData="resOprTraintCheckContentData" :serverError="apiErrorNurTraintCheckContent"></OprTraintCheckContent>
    </div>
</template>

<script>
    import { getOprTraintList, getOprTraintCheckContent } from '@/api/opr.js';
    import OprTraintCheckContent from './components/OprTraintCheckContent';
    import Message from '@/components/Message';
    import ErrorPage from '@/components/ErrorPage';

    export default {
        name: 'oprTraint',
        components: {
            OprTraintCheckContent,
            Message,
            ErrorPage,
        },
        data() {
            return {
                attrData: null,
                tempSDATE: '',
                tempSTIME: '',
                resOprTraintList: [],
                apiErrorOprTraintList: '',
                showOprTraintCheckContent: false,
                resOprTraintCheckContentData: [],
                apiErrorNurTraintCheckContent: '',
                oprTraintListBindStyle: "background-color: #26547C; color: #ffffff", //綁定護理約束清單點擊後樣式
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params;

            if (self.attrData.hsp !== '' && self.attrData.crtno !== '' && self.attrData.actno !== '' && self.attrData.opid)
            {
                self.getOprTraintData();
            }
        },
        methods: {
            getOprTraintData: function(){
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const actno = self.attrData.actno;
                const opid = self.attrData.opid;

                getOprTraintList(hsp, crtno, actno, opid).then((res) => {
                    if (res.status === 200)
                    {
                        self.resOprTraintList.push(res.data);
                    }
                    else
                    {
                        self.apiErrorOprTraintList = res;
                    }
                });
            },
            getNurTraintCheckContentData: function(sdte, stme, edte, etme, index) {
                let self = this;
                const hsp = self.attrData.hsp;
                const crtno = self.attrData.crtno;
                const actno = self.attrData.actno;
                const opid = self.attrData.opid;
                self.showNurTraintCheckContent = false;
                self.resOprTraintCheckContentData = [];
                self.apiErrorNurTraintCheckContent = '';
                self.tempSDATE = sdte;
                self.tempSTIME = stme;
                self.reOprTraintListStyle();
                document.querySelectorAll('.traintList').item(index).style = self.oprTraintListBindStyle; //重新指定 table row 樣式，將傳回來的 row index 指定樣式

                getOprTraintCheckContent(hsp, crtno, actno, sdte, stme, edte, etme, opid).then((res) => {
                    if (res.status === 200)
                    {
                        self.resOprTraintCheckContentData.push(res.data);
                        self.showOprTraintCheckContent = true;
                    }
                    else
                    {
                        self.apiErrorNurTraintCheckContent = res;
                        self.showOprTraintCheckContent = true;
                    }
                });
            },
            reOprTraintListStyle: function(){ //重整約束查核表列表樣式
                let patientList = document.getElementsByClassName('traintCheckList'); //抓取所有 .patientList 屬性
                
                for (let i = 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            },
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            },
            formatTime: function(time){ //格式化入院時間
                let result = (time !== null)? time.substr(0, 2) + ':' + time.substr(2, 2): 'N/A';

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    #OprTraintList
        .OprTraintListData
            .container-fluid
                padding: 25px

                .row
                    .oprTraintListInfo
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white
                                
                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr
                                        cursor: pointer

                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    tr:last-child
                                        border-bottom: 1px solid darken($color_gray, 15)

                                    tr.traintList
                                        border-top: 1px solid darken($color_gray, 15)

                                        &:hover
                                            box-shadow: inset 5px 0px $color_blue

    @media screen and ( max-width: 992px )
        #OprTraintList
            .OprTraintListData
                .container
                    .row
                        .oprTraintListInfo
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>