$color_blue: #26547C
$color_gray: #f7f7f7
$color_black: #333333
$color_white: #ffffff

$color_ServerError: #ff2244

@mixin abCenter()
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin size($w, $h: $w)
    width: $w
    height: $h

@mixin flexCenter()
    display: flex
    justify-content: center
    align-content: center