<template>
    <div id="ntrRec">
        <!-- 如果營養照顧清單大於 0 筆，且營養照顧清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
        <section class="ntrRecData" v-if="resNtrRecList.length > 0 && apiNtrRecError === ''">
            <div class="container-fluid">
                <div class="row">
                    <div class="ntrRecList col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>院區</th>
                                        <th>診別</th>
                                        <th>病歷號</th>
                                        <th>諮詢/訪視日期</th>
                                        <th>負責營養師</th>
                                    </tr>
                                </thead>
                                
                                <tbody class="content">
                                    <tr class="patientList" v-for="(item, index) in showNumberItem" :key="index" v-on:click="getNtrRecDetailData(item.VSDTE, item.OPID, index)">
                                        <td v-text="index + itemBarMenu * nowPage - itemBarMenu + 1"></td>
                                        <td v-text="item.HSPAREA"></td>
                                        <td v-text="item.SRFLG"></td>
                                        <td v-text="item.CRTNO"></td>
                                        <td v-text="formatDate(item.VSDTE)"></td>
                                        <td v-text="item.OPID"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :pagerCount="5" :total="resNtrRecList.length"></Pagination>
                    </div>
                </div>
            </div>          
        </section>

            <!-- 如果營養照顧清單 0 筆，且營養照顧清單 api 沒有產生錯誤訊息，才顯示此區塊 -->
            <Message v-else-if="resNtrRecList.length === 0 && apiNtrRecError === ''"></Message>
    
                <!-- 如果營養照顧清單 api 產生伺服器錯誤，才會顯示此區塊 -->
                <ErrorPage v-else></ErrorPage>

        <!-- 營養照顧記錄單 -->
        <NtrRecDetail v-if="showNtrRecDetail === true"  :resNtrRecDetail="resNtrRecDetail" :serverError="apiNtrRecDetailError"></NtrRecDetail>
    </div>
</template>

<script>
    import { getNtrRecList, getNtrRecDetail } from '@/api/opr'; //載入營養照顧記錄清單、營養照顧詳細記錄 api
    import NtrRecDetail from './components/NtrRecDetail';       
    import Message from '@/components/Message';               //載入訊息元件
    import ErrorPage from '@/components/ErrorPage';           //載入錯誤頁面元件
    import Pagination from '@/components/Pagination';

    export default {
        name: 'ntrRec',
        components: {
            NtrRecDetail,
            Message,
            ErrorPage,
            Pagination
        },
        data() {
            return {
                attrData: '',              //儲存掛載參數  ex: url: http://localhost:8080/HIS/OPR/OPRW5000/#/ntrRec/index/KTGH00/0000919300/
                resNtrRecList: [],         //儲存營養記錄資料
                apiNtrRecError: '',        //儲存營養記錄清單 api 錯誤訊息
                resNtrRecDetail: [],       //儲存營養照顧詳細記錄資料
                apiNtrRecDetailError: '',  //儲存營養照顧詳細記錄 api 錯誤訊息
                showNtrRecDetail: false,   //控制營養照顧詳細記錄顯示
                nowPage: 1,
                itemBarMenu: 5, //儲存一次顯示幾筆資料
                ntrRecListBindStyle: "background-color: #26547C; color: #ffffff", //綁定營養照顧清單單點擊後樣式
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.crtno !== '')     //如果院區不為空值
            {
                self.getNtrRecData();   //呼叫 getNtrRecData 方法，取得營養照顧清單
            }
        },
        methods: {
            getNtrRecData: function() {  //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得營養照顧清單
                let self = this;
                const crtno = self.attrData.crtno;
                
                getNtrRecList(crtno).then((res) => {  // 呼叫 api 代入病歷號，取得營養照顧清單資料
                    if (res.status === 200)  //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resNtrRecList = res.data;   //將回傳資料儲存至 resNtrRecList 陣列
                    }
                    else
                    {
                        self.apiNtrRecError = res;  //回傳錯誤訊息，儲存至 apiNtrRecError 字串
                    }
                });
            },
            getNtrRecDetailData: function(vsdte, opid, index) {  //當使用者點擊某一筆營養照顧清單項目，才會被呼叫此方法，取得營養照顧記錄
                let self = this;
                const crtno = self.attrData.crtno;
                const opId = opid.split('.')[0];  //將使用 點 分割取得員編
                self.resNtrRecDetail = [];        //初始化清空營養照顧記錄
                self.apiNtrRecDetailError = '';   //初始化清空營養照顧記錄 api 字串
                self.showNtrRecDetail = false;    //隱藏營養照顧記錄資料
                self.reNtrRecListStyle();         //呼叫 reNtrRecListStyle() 方法營養記錄清單樣式
                document.querySelectorAll(".patientList").item(index).style = self.ntrRecListBindStyle; //將傳回來的 營養照顧清單 index 索引 修改 table 指定的 row 樣式

                getNtrRecDetail(crtno, vsdte, opId).then((res) => {   //如果回傳的 Status Code 狀態為 200 成功狀態
                    if (res.status === 200)     //如果回傳的 Status Code 狀態為 200 成功狀態
                    {
                        self.resNtrRecDetail.push(res.data);  //將取得資料 存放 resNtrRecDetail 陣列
                    }
                    else    //否則
                    {
                        self.apiNtrRecDetailError = res;  //回傳錯誤訊息，儲存至 apiNtrRecDetailError 字串
                    }
                    
                    self.showNtrRecDetail = true;  //顯示營養照顧記錄單
                });
            },
            handleChangePage: function(val) {
                this.nowPage = val;
            },
            handleChangeSize: function(val) {
                this.itemBarMenu = val;
            },
            reNtrRecListStyle: function() {
                let patientList = document.getElementsByClassName('patientList'); //抓取所有 .patientList 屬性
                
                for (let i= 0; i < patientList.length; i++) //使用迴圈清空樣式
                {
                    patientList[i].style = '';
                }
            },
            formatDate: function(date){ // 格式化入院日期
                let result = (date !== null)? date.substr(0, 3) + '/' + date.substr(3, 2) + '/' + date.substr(5, 2) : 'N/A';

                return result;
            }
        },
        computed: {
            showNumberItem() {
                /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                */

                let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                /*
                    start 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                    例: 1 * 5 - 5
                */
                
                let end = this.nowPage * this.itemBarMenu;
                /*
                    end 為開始顯示的頭
                    (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                    例: 1 * 5
                */

                let result = this.resNtrRecList.slice(start, end);

                return result;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/functions'

    #ntrRec
        .ntrRecData
            .container-fluid
                padding: 25px

                .row
                    .ntrRecList
                        .scroll::-webkit-scrollbar
                            background-color: darken($color_gray, 15)
                            height: 10px

                        .scroll::-webkit-scrollbar-track
                            background-color: darken($color_gray, 15)

                        .scroll::-webkit-scrollbar-thumb
                            background-color: darken($color_gray, 25)

                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                background-color: $color_white
                                
                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        white-space: nowrap
                                        text-align: center
                                        vertical-align: middle
                                        padding: 10px

                                thead.header
                                    background-color: $color_gray

                                tbody.content
                                    tr
                                        cursor: pointer
                                        border-top: 1px solid darken($color_gray, 15)

                                        &:hover
                                            box-shadow: inset 5px 0px $color_blue

                                    tr:nth-child(even)
                                        background-color: $color_gray


    .Pagination
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)

    @media screen and (max-width: 992px)
        #ntrRec
            .ntrRecData
                .container-fluid
                    .row
                        .ntrRecList
                            .scroll
                                overflow-x: auto
                                overflow-y: hidden
</style>