<template>
    <div id="anePreRec">
        <div class="anePreRecData" v-if="resOpr2100Rec !== null && resOpr2100Rec.REC_TAG === 'Y' && serverError === ''">
            <!-- 患者基本資料 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="patientBaseDetailed col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <!-- 患者資訊1 -->
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`院區: ${resOpr2100Rec.HSPAREA}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`病歷號: ${resOpr2100Rec.OPCRTNO}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`日期: ${resOpr2100Rec.START_DATE}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`患者姓名: ${resOpr2100Rec.PTNAME}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`患者性別: ${resOpr2100Rec.PTSEX}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`患者年齡: ${resOpr2100Rec.PTAGE} 歲`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`評估人員: ${resOpr2100Rec.EVA_OP}`"></p>
                                </div>

                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                    <p v-text="`評估醫師 ${resOpr2100Rec.EVA_DR}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`臨床診斷: ${resOpr2100Rec.ICDNME}`"></p>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <p v-text="`預定手術: ${resOpr2100Rec.ORDNME}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 病患自訴 -->
                            <div class="row">
                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5 class="title">病患自訴</h5>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="title">是否曾經接受任何麻醉?</h6>
                                    <p v-text="`${resOpr2100Rec.Q1ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="title">是否曾患以下疾病?</h6>
                                    <p v-text="`${resOpr2100Rec.Q2ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="title">目前是否有使用下列藥物?</h6>
                                    <p v-text="`${resOpr2100Rec.Q3ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="title">目前是否曾有下列症狀或情況?</h6>
                                    <p v-text="`${resOpr2100Rec.Q4ANSWER}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 麻醉科專科醫師綜合意見 -->
                            <div class="row">
                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h5 class="title">麻醉科專科醫師綜合意見</h5>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【基本檢查資料-XRAY 診斷 (多選)】</h6>
                                    <p v-text="`XRAY: ${resOpr2100Rec.XRAY_ANSWER}`"></p>
                                    <p v-text="`XRAY 備註1: ${resOpr2100Rec.XRAY_MARK}`"></p>
                                    <p v-text="`心臟超音波: ${resOpr2100Rec.XRAY_MARK2}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【基本檢查資料-EKG 診斷 (多選)】</h6>
                                    <p v-text="`EKG: ${resOpr2100Rec.EKG_ANSWER}`"></p>
                                    <p v-text="`EKG 備註: ${resOpr2100Rec.EKG_MARK}`"></p>
                                </div>
                            </div>
                            <hr>

                            <!-- 檢查事項 -->
                            <div class="row">
                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6 class="title">【牙齒狀況】 (X: 缺牙， V: 活動假牙， O: 蛀牙， P: 固定假牙， L: 牙齒鬆動)</h6>
                                    <div class="toothStatus">
                                        <div class="scroll">
                                            <table>
                                                <tr>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RU3"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RU2"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RU1"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LU1"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LU2"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LU3"></td>
                                                </tr>
                                                <tr>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RD3"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RD2"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_RD1"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LD1"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LD2"></td>
                                                    <td v-text="resOpr2100Rec.TOOTH_STATE.Tooth_LD3"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【口腔情形】(Class I-IV)</h6>
                                    <p v-text="`${resOpr2100Rec.ORAL_CLASS}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【麻醉危險分級(ASA)】</h6>
                                    <p v-text="`${resOpr2100Rec.ASA_ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【是否屬困難插管】</h6>
                                    <p v-text="`${resOpr2100Rec.HARDIN_ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【預估麻醉方式】</h6>
                                    <p v-text="`${resOpr2100Rec.ANE_ANSWER}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【建議】</h6>
                                    <p v-text="`${resOpr2100Rec.SUGGEST}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【交班事項】</h6>
                                    <p v-text="`${resOpr2100Rec.SHIFT_MARK}`"></p>
                                </div>

                                <div class="mb-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h6>【特殊儀器設備】</h6>
                                    <p v-text="`${resOpr2100Rec.SP_EQUIP}`"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 檢驗值 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="rptShowList col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>報告日期</th>
                                        <th>時間</th>
                                        <th>項目名稱</th>
                                        <th>檢驗值</th>
                                        <th>參考值</th>
                                        <th>單位</th>
                                    </tr>
                                </thead>

                                <tbody class="content">
                                    <tr v-for="(item, index) in showNumberItem" :key="index">
                                        <td v-text="item.RPTDTE"></td>
                                        <td v-text="item.RPTTIM"></td>
                                        <td v-text="item.ORDNME"></td>
                                        <td :style="item.OUTTAG === 'Y'?bindStyleRed: ''" v-text="item.DATA"></td>
                                        <td v-text="item.REFDATA"></td>
                                        <td v-text="item.UNIT"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 分頁器 -->
                        <Pagination @changePage="handleChangePage" @changeSize="handleChangeSize" :pagerCount="5" :total="resOpr2100Rec.RPT_SHOW_LIST.length"></Pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- 查無資料 -->
        <Message v-else-if="resOpr2100Rec !== null && resOpr2100Rec.REC_TAG === 'N' && serverError === ''"></Message>

            <!-- 伺服器錯誤 -->
            <ErrorPage v-else :msg="serverError"></ErrorPage>
    </div>
</template>

<script>
    import { getOpr2100Rec } from '@/api/opr.js';
    import Pagination from '@/components/Pagination.vue';
    import Message from '@/components/Message.vue';
    import ErrorPage from '@/components/ErrorPage.vue';

    export default {
        name: 'anePreRec',
        components: {
            Message,
            ErrorPage,
            Pagination
        },
        data() {
            return {
                attrData: {},
                resOpr2100Rec: null,
                serverError: '',
                bindStyleRed: 'background-color: #ff0026; color: white;',
                nowPage: 1,
                itemBarMenu: 5
            }
        },
        mounted() {
            let self = this;
            self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

            if (self.attrData.hspnme !== '' && self.attrData.opcrtno !== '' && self.attrData.opdate !== '' && self.attrData.scrno) //如果院區、病例號、急診流水號都不等於空
            {
                this.getOpr2100(); //呼叫 getOpr2100() 方法取得急診護理評估資料
            }
        },
        methods: {
            getOpr2100() {
                const self = this;
                const hspnme = self.attrData.hspnme;
                const opcrtno = self.attrData.opcrtno;
                const opdate = self.attrData.opdate;
                const scrno = self.attrData.scrno;
                
                getOpr2100Rec(hspnme, opcrtno, opdate, scrno).then((res) => {
                    if (res.status === 200)
                    {
                        self.resOpr2100Rec = res.data;
                    }
                    else
                    {
                        self.serverError = res;
                    }
                });
            },
            handleChangePage(val) {
                this.nowPage = val;
            },
            handleChangeSize(val) {
                this.itemBarMenu = val;
            }
        },
        computed: {
            showNumberItem() {
                let result = null;

                if (this.resOpr2100Rec !== null)
                {
                    /*
                    當 page、itemBarMenu 變數因前面的 rePageTotal、goToPage、lastPage、nextPage 方法，將 page、itemMenu 裡的值變更時，
                    才會自動啟用此方法，從第幾筆開始顯示到第幾筆
                    */

                    let start = this.nowPage * this.itemBarMenu - this.itemBarMenu;
                    /*
                        start 為開始顯示的頭
                        (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數 - 顯示筆數
                        例: 1 * 5 - 5
                    */
                
                    let end = this.nowPage * this.itemBarMenu;
                    /*
                        end 為開始顯示的頭
                        (未被加 1 過的 page 或被加 1 過的 page 或被減 1 過的 page) * 顯示筆數
                        例: 1 * 5
                    */

                   result = this.resOpr2100Rec.RPT_SHOW_LIST.slice(start, end);
                }

                return result;
            }
        }
    }
</script>

<style lang="sass">
    @import '@/styles/functions.sass'

    p
        padding: 5px
        white-space: pre-line

    .scroll::-webkit-scrollbar
        background-color: darken($color_gray, 15)
        height: 10px
        
    .scroll::-webkit-scrollbar-track
        background-color: darken($color_gray, 15)

    .scroll::-webkit-scrollbar-thumb
        background-color: darken($color_gray, 25)

    .scroll
        width: 100%
        box-shadow: 0px 0px 15px rgba($color_black, 0.15)
        border: 0.5px solid darken($color_gray, 15)
        overflow-x: auto
        overflow-y: hidden

    #anePreRec
        .anePreRecData
            .container-fluid:nth-child(1)
                padding:
                    top: 15px
                    bottom: 15px

                .row
                    .patientBaseDetailed
                        .card
                            padding: 10px
                            box-shadow: 0px 0px 15px rgba($color_black, 0.15)
                            border: 1px solid darken($color_gray, 25)
                            border-radius: 10px

                    .qa
                        margin:
                            bottom: 10px

                    .toothStatus
                        .scroll
                            box-shadow: none

                            table
                                width: 100%

                                th, td
                                    border: 1px solid $color_black

            .container-fluid:nth-child(2)
                .row
                    .rptShowList
                        background-color: $color_blue
                        padding:
                            top: 20px
                            bottom: 20px

                        .scroll
                            table
                                width: 100%
                                background-color: $color_white

                                tr
                                    color: $color_black
                                    transition: (background-color, color) 0.5s

                                    th, td
                                        vertical-align: middle
                                        padding: 10px
                                        border: 0.5px solid darken($color_gray, 15)
                                        white-space: nowrap
                                        text-align: center

    .Pagination
        background-color: $color_white
        border-left: 0.5px solid darken($color_gray, 25)
        border-right: 0.5px solid darken($color_gray, 25)
        border-bottom: 0.5px solid darken($color_gray, 25)
</style>