<template>
    <div class="loading">
        <svg class="load" x="0px" y="0px" viewBox="0 0 100 100">
            <circle class="loading-inner" cx="50" cy="50" r="25"/>
        </svg>
    </div>
</template>

<style lang="sass" scoped>
    @import '@/styles/functions'

    .loading
        position: fixed
        z-index: 10
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        +flexCenter()
        background-color: $color_gray
        
    .load
        width: 150px
        z-index: 999
        animation: loading 3s linear infinite
    
    .loading-inner
        stroke-dashoffset: 0
        stroke-dasharray: 300
        stroke-width: 5
        stroke-miterlimit: 5
        stroke-linecap: round
        stroke: $color_blue
        fill: transparent
        animation: loading-inner 2s linear infinite
      
    @keyframes loading
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)

    @keyframes loading-inner
        0%
            stroke-dashoffset: 0
        100%
            stroke-dashoffset: -600
</style>