<template>
  <div id="oprTransfer">
    <!-- 如果急診轉歸動項大於 0 筆，且急診轉歸動項 api 沒有產生錯誤訊息，才顯示此區塊 -->
    <section class="oprTransferData" v-if="resOprTransferList.length === 1 && resOprTransferList[0].CRTNO !== null && serverError === ''">
      <div class="container-fluid">
        <div class="row">
          <div class="oprTransferInfo col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" v-for="(item, index) in resOprTransferList" :key="index">
            <div class="card">
              <!--  -->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5>基本資料</h5>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`病歷號: ${item.CRTNO}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`患者姓名: ${item.PTNAME}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`性別: ${item.PTSEX}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`進入急診日期時間: ${item.INDTE}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`離開急診日期時間: ${item.LVDTE}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`看診科別: ${item.VSDPT}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`主治醫師: ${item.VSDR}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`值班主治醫師: ${item.IPDVS}`"></p>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <p v-text="`轉歸動向: ${item.TRFLG}`"></p>
                </div>
              </div>
              <hr>


              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5>急診處置</h5>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <p class="text_Pre" v-text="item.ERPRO"></p>
                </div>
              </div>
              <hr>

              <!--  -->
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5>處理經過</h5>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <p v-text="item.PROCESS"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      
      <!-- 如果急診轉歸動項等於 0 筆，且急診轉歸動項 api 沒有產生錯誤訊息，才顯示此區塊 -->
      <Message v-else-if="resOprTransferList.length === 1 && resOprTransferList[0].CRTNO === null && serverError === ''"></Message>
        
        <!-- 如果急診轉歸動項 api 產生伺服器錯誤，才會顯示此區塊 -->
        <ErrorPage v-else :msg="serverError"></ErrorPage>
  </div>
</template>

<script>
  import { getOprTransfer } from '@/api/opr.js';      //載入急診專歸動項 api
  import Message from '@/components/Message';        //載入訊息元件
  import ErrorPage from '@/components/ErrorPage';    //載入錯誤元件

  export default {
    name: 'oprTransfer',
    components: {
      Message,
      ErrorPage
    },
    data() {
      return {
        attrData: '',             //儲存參數掛載參數  ex: url: http://localhost:8080/HIS/OPR/OPR5000/#/inpAss/index/KTGH00/0001164161/0A01
        resOprTransferList: [],   //儲存急診轉歸動項資料
        serverError: ''           //儲存急診轉歸動項 api 錯誤訊息
      }
    },
    mounted() {
      let self = this;
      self.attrData = self.$route.params;  //將抓到的掛載參數儲存至 attrData 變數

      if (self.attrData.area !== '' && self.attrData.crtno !== '' && self.attrData.actno)  //如果院區、病歷號、流水號都不為空值
      {
        self.getOprTransferData();  //呼叫 getOprTransferData 方法，取急診轉歸動項
      }
    },
    methods: {
      getOprTransferData() {  //此方法呼叫被 mounted() 呼叫時，進行呼叫 api 取得急診轉歸動項資料
        let self = this;
        const area = self.attrData.area;
        const crtno = self.attrData.crtno;
        const actno = self.attrData.actno;

        getOprTransfer(area, crtno, actno).then((res) => {  // 呼叫 api 代入院區、病歷號、流水號，取得急診轉歸資料
          if (res.status === 200)   //如果回傳的 Status Code 狀態為 200 成功狀態
          {
            self.resOprTransferList.push(res.data);  //將回傳資料儲存至 resOprTransferList 陣列
          }
          else
          {
            self.serverError = res;  //回傳錯誤訊息，儲存至 serverError 字串
          }
        });
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import '@/styles/functions'

  p
    padding: 10px 0px
    word-break: break-all

  .text_Pre
    white-space: pre-line

  #oprTransfer
    .oprTransferData
      .container-fluid
        padding: 25px
        
        .row
          .oprTransferInfo
            .card
              padding: 10px
              border: 1px solid darken($color_gray, 25)
              border-radius: 10px
              box-shadow: 0px 0px 15px rgba($color_black, 0.15)
</style>